<h2 class="ui center aligned medium icon header">
  <i class="circular comment inverted violet alternate icon"></i>
  Say something !
</h2>
<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui card fluid raised chatbox">
            <div class="content" id="messages">
                <div id="messages-container" class="ui feed">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
            <%= form_for @message, html: {class: "ui reply form" }, url:message_path, remote: true do |f| %>
                <div class="field">
                    <div class="ui fluid icon">
                        <%= f.text_field :body, placeholder:"Enter a message..." %>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card fluid raised chatbox">
            <div class="content">
                <div class="ui secondary inverted violet vertical pointing menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
