<% flash.each do |type, content| %>
    <div class="ui <%= type %> message transition">
        <i class="close icon"></i>
        <div class="header">
            <%= content %>
        </div>
    </div>
<% end %>