@import "semantic-ui";

$violet: #6435C9;

.chatbox{
    height: 450px;
    #messages{
        overflow: auto;
        height: 15em;
    }
}
.button{
    &.transparent{
        opacity: .6;
        transition: opacity .5s;
        &:hover{
            opacity: 1;
        }
    }
}
.chat-username{
    color: $violet;
}
div.field_with_errors { display: inline-block; }

.input-error-message{
    color: #9F3A38;
}